.next/
.next-e2e/
node_modules/
.pnpm-store/
tsconfig.tsbuildinfo
playwright-report/
test-results/
pnpm-debug.log
.env
.env.production
.next-dev.log
.next-dev.err

prisma/*.db
prisma/*.db-journal
public/uploads/*
!public/uploads/.gitkeep
